.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colors__chart);
  border-radius: 12px;
  padding: 16px;
  margin: 2rem 0;
}

.large {
  width: 80rem;
  height: 40rem;
  background: var(--colors__chart);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.large canvas {
  max-width: 100%;
  height: 100%;
}

.medium {
  width: 63rem;
  height: 29rem;
  background: var(--colors__chart);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.medium canvas {
  max-width: 100%;
  height: 100%;
}

.small {
  width: 24rem;
  height: 15rem;
  background: var(--colors__chart);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.small canvas {
  max-width: 100%;
  height: 100%;
}
