:root {
    --colors__white: #ffffff;
    --colors__black: #3b3a3d;
    --colors__green: #7aa899;
    --colors__purple: #8b7aa8;
    --colors__dark: #27263d;
    --colors__gray: #6e6c78;
}


html {
    font-size: 10px; /* 1rem = 10px */
}

* {
	padding: 0;
	margin: 0;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}



a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}


aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}


input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
