* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.board {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 750px;
}

.card-wrapper {
	width: 120px;
	height: 120px;
	background-color: salmon;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateX(180deg);
	color: transparent;
}

.flip {
	transform: rotateX(0deg);
	background-color: brown;
	transition: 0.5s ease-in;
	color: #000;
}
