* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper {
	max-width: 1440px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
}

.game-board {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.board-head {
	font-size: 40px;
}

.description {
	font-size: 20px;
	text-align: center;
	width: 50%;
}

#who-win {
	font-size: 50px;
}

img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	margin: 20px;
}

.user {
	position: absolute;
	left: 50px;
}

.comp {
	position: absolute;
	right: 50px;
}

.choices {
	display: flex;
	gap: 40px;
}

#result {
	gap: 30px;
	display: flex;
	width: 400px;
	height: 150px;
	margin: 20px;
	justify-content: center;
	position: relative;
}

.spinner {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
	position: absolute;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

button {
	margin: 10px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: #3498db;
	color: white;
	transition: 0.3s;
}

button:hover {
	scale: 105%;
	background-color: #2980b9;
}

.choices {
	display: none;
}

@media (max-width: 320px) {
	.wrapper {
		margin: 20px;
	}

	.game-board {
		gap: 10px;
		margin: 10px;
	}

	.board-head {
		font-size: 24px;
	}

	.description {
		font-size: 16px;
		width: 80%;
	}

	#who-win {
		font-size: 30px;
	}

	img {
		width: 60px;
		height: 60px;
	}

	.choices {
		gap: 20px;
	}

	#result {
		width: 250px;
		height: 100px;
	}

	.button {
		font-size: 14px;
		padding: 10px;
		width: 70px;
		text-align: center;
		font-size: 10px;
	}
}
