.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.main {
    width: 100%;
    padding: 3rem;
}